@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #18181a;
}

body {
  color: #ffffff;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
